/* .bg-gradient-brand{
    background-image: linear-gradient(blue,green);
} */

@media (min-width: 640px){
    .sm\:bg-gradient-brand{
        background-image: linear-gradient(blue,green)
        ;
    }
}

/* @media (min-width: 768px){
    .md\:bg-gradient-brand{
        background-image: linear-gradient(blue,green)
        ;
    }
}

@media (min-width: 1024px){
    .lg\:bg-gradient-brand{
        background-image: linear-gradient(blue,green)
        ;
    }
}

@media (min-width: 1280px){
    .xl\:bg-gradient-brand{
        background-image: linear-gradient(blue,green)
        ;
    }
}

@media (min-width: 1536px){
    .\32xl\:bg-gradient-brand{
        background-image: linear-gradient(blue,green)
        ;
    }
} */
